@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
}

img {
    width: 100%;
    height: auto;
}